
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Input TheSimpleCalender2018!!!
        <p>This is were you input you profile infromation.<br/>
        
        </p>
        @Html.ActionLink("Enter Profile Now", "ProfileForm")
    </div>
</body>
</html>
